body {
    background-color: #CCCCCC;
}
header {
    margin: 0em;
    padding: 0em;
    background-color: #CCCCCC;
}

nav ul {
    background-color: #444;
    text-align: center;
    padding: 1em;
    margin: 0em;
}

nav li {
    display: inline;
    text-size-adjust: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
}